node_modules/
desktop/node_modules/
desktop/dist/
desktop/dist-preload/
desktop/dist-main/
desktop/release/
desktop/.env

mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/build/
mobile/.idea/
mobile/.metadata

.DS_Store
